// Global styling for this template

body {
  @include body-font;
  padding: 0;
  margin: 0;
  padding-top: 54px;
  color: $gray-100;
  background: $white;
}

.main-body {
  background: $navy-blue;
}

@media (min-width: 992px) {
  body::-webkit-scrollbar {
    width: 0 !important;
  }
}

span,
a {
  @include bold-font;
  color: $gray-500;
}

a:hover {
  color: $lemon;
}

span {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include bold-font;
  font-weight: 700;
  color: $white;
}

h1 {
  // font-size: 3rem;
  line-height: 5.5rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

.lead {
  font-size: 18px;
  font-weight: 400;

  @media (min-width: 992px) {
    font-size: 1.1em;
  }
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.navbar-nav > a {
  @include heading-font;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;

  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.form-group {
  form {
    display: flex;
    flex-direction: column;

    .form-field {
      background-color: inherit;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 1px solid $white;
      margin: 1.5rem 0;
      outline: none;
      padding: 4px 0;
    }

    textarea.form-field {
      margin: 4rem 0;
    }

    .form-field::placeholder {
      color: $white;
      font-size: 17px;
      font-weight: 400;
      @include body-font;

      @media (min-width: 992px) {
        font-size: 1.3rem;
      }
    }

    button {
      position: relative;
      display: block;
      height: 45px;
      width: 215px;
      margin: 10px 0;
      padding: 5px 5px;
      letter-spacing: 2px;
      color: $white;
      border: 1px solid;
      border-radius: 4px;
      outline: 0;
      overflow: hidden;
      background: none;
      z-index: 1;
      cursor: pointer;
      transition: 0.08s ease-in;
    }
  }
}

aside.socials {
  padding: 20px;

  @media (max-width: 768px) {
    margin-top: 30px;
  }

  article {
    position: relative;
    bottom: 40px;

    h2 {
      @media (min-width: 992px) {
        font-size: 2.5rem;
        line-height: 2.2rem;
      }
    }
  }

  @media (min-width: 992px) {
    position: relative;
    margin: 8rem 0;
    padding: 50px;
    left: 146px;
  }

  @media (min-width: 1200px) {
    position: absolute;
    right: 0;
    margin: 8rem 0;
    padding: 50px;
    left: unset;
  }
}

.offwhite {
  color: $gray-500;
}

.black {
  color: $black;
}

.white-2 {
  color: $custom-white;
}

.bg-white {
  background-color: $white;
}

.bg-navy-blue {
  background-color: $custom-navy;
}

.heading {
  font-size: 2.1rem;
  line-height: 3rem;
  font-weight: 600;

  @media (min-width: 992px) {
    font-size: 3rem;
  }
}

.salute {
  font-size: 1.4rem;
  font-weight: 600;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.name {
  color: $white;
}

.role {
  color: $white;
}

.wd-100 {
  width: 100%;
  max-width: 330px;
  margin-left: 15px;
}

.w-100 {
  margin: 2rem;

  @media (min-width: 768px) {
    padding: 15px 60px;
  }

  @media (min-width: 992px) {
    padding: 20px 115px;
  }
}

.flex-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  margin-bottom: 100px;

  @media (max-width: 37.5em) {
    margin-bottom: 70px;
  }

  a.image-link {
    position: relative;
    background-color: $lemon;
    border-radius: 5px;
    grid-column: 6/-1;
    grid-row: 1/-1;
    z-index: 1;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;

    @media (max-width: 37.5em) {
      opacity: 0.8;
      grid-column: 1 / -1;
      background-color: #526100;
    }

    @media (max-width: 48em) {
      height: 100%;
    }
  }

  a.image-link::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  a.image-link::before {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #202a11;
    mix-blend-mode: screen;
    z-index: 4;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  a.image-link:hover::before {
    background-color: unset;
    mix-blend-mode: unset;
    z-index: 0;
    width: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  &:nth-of-type(odd) {
    div.featured.content {
      grid-column: 7/-1;
      text-align: right;

      @media (max-width: 30em) {
        padding: 30px 25px 20px;
      }

      @media (max-width: 37.5em) {
        z-index: 5;
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        text-align: left;
      }

      ul {
        justify-content: flex-end;
        margin: 25px 0px 10px;

        li {
          margin-left: 20px;
          margin-right: 0px;

          @media (max-width: 37.5em) {
            color: rgb(204, 214, 246);
            margin-right: 10px;
          }
        }
      }
    }

    a.image-link {
      grid-column: 1/8;

      @media (max-width: 37.5em) {
        opacity: 0.8;
        grid-column: 1 / -1;
        background-color: #526100;
      }

      @media (max-width: 48em) {
        height: 100%;
      }
    }

    div.project.links {
      justify-content: flex-end;
      margin-left: 0px;
      margin-right: -10px;
    }
  }

  div.featured.content {
    grid-column: 1/7;
    position: relative;
    grid-row: 1/-1;

    @media (max-width: 30em) {
      padding: 30px 25px 20px;
    }

    @media (max-width: 37.5em) {
      z-index: 5;
      grid-column: 1 / -1;
      padding: 40px 40px 30px;
    }

    h4 {
      padding-top: 0;
      margin-top: 10px;
      color: $lemon;
      font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
        'Lucida Console', Monaco, monospace;
    }

    h5 {
      font-size: 28px;
      color: rgb(204, 214, 246);
      margin: 0px 0px 20px;

      @media (max-width: 37.5em) {
        color: rgb(230, 241, 255);
      }

      @media (max-width: 48em) {
        font-size: 24px;
      }

      a {
        display: inline-block;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      }
    }

    div.featured.details {
      box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
      position: relative;
      z-index: 2;
      background-color: rgb(27, 27, 50);
      color: #ced7f2;
      font-size: 18px;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      padding: 25px;
      border-radius: 3px;

      @media (max-width: 37.5em) {
        background-color: transparent;
        box-shadow: none;
        padding: 20px 0px;
      }
    }

    ul {
      position: relative;
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      padding: 0px;
      margin: 30px 30px 0px 0px;
      list-style: none;
      // justify-content: flex-end;

      li {
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
          'Lucida Console', Monaco, monospace;
        font-size: 13px;
        color: rgb(136, 146, 176);
        margin-right: 20px;
        margin-bottom: 7px;
        white-space: nowrap;

        @media (max-width: 37.5em) {
          color: rgb(255, 255, 255);
          margin-right: 10px;
        }
      }
    }

    div.project.links {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 10px;
      margin-left: -10px;
      color: rgb(204, 214, 246);
      // justify-content: flex-end;
      // margin-left: 0px;
      // margin-right: -10px;

      a {
        display: inline-block;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        padding: 10px;

        svg {
          width: 22px;
          height: 22px;
          fill: currentColor;
        }
      }
    }
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .cta-btn {
    border: 2px solid $lemon;
    border-radius: 4px;
    opacity: 1;
    background-color: transparent;
    color: $lemon;
    padding: 0rem 1rem;
    font-family: inherit;
    margin-bottom: 2rem;
    font-size: 1em;
    width: 180px;
    height: 50px;
    padding-top: 1rem;
    text-align: center;

    a,
    a:visited,
    a:active,
    a:hover,
    a:focus {
      text-decoration: none;
      color: inherit;
    }
  }

  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .about {
    max-width: 275px;
    width: 100%;
    height: 275px;
    background-position: center center;
    background-size: contain;
    margin: 10px 0;

    @media (max-width: 48em) {
      margin: 0 auto;
    }

    @media (min-width: 992px) {
      margin: 10px 20px;
    }

    .about-link {
      width: 100%;
      position: relative;
      border-radius: 3px;
    }

    .about-link:hover {
      background: transparent;
      box-shadow: rgba(2, 12, 27, 0.7) 0px 20px 30px -15px;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }

    .about-link::before {
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: $lemon;
      mix-blend-mode: color;
      z-index: 4;
    }

    .about-link:hover::before {
      background-color: unset;
      mix-blend-mode: unset;
      z-index: unset;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }

    .about-link::after {
      top: 20px;
      left: 20px;
      z-index: -1;
      border-width: 2px;
      border-style: solid;
      border-color: $lemon;
      border-image: initial;
    }

    .about-link:hover::after {
      top: 10px;
      left: 10px;
    }

    .about-link::before,
    .about-link::after {
      content: '';
      display: block;
      position: absolute;
      width: 250px;
      height: 251px;
      border-radius: 3px;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
  }

  .avatar {
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    margin: 0;
    background-color: $lemon;
    width: 250px;
    height: 251px;

    img {
      background-color: $gray-500;
      width: 250px;
      clip-path: polygon(0 0, 100% 0%, 100% 67%, 0% 67%);
      mix-blend-mode: luminosity;
      filter: grayscale(100%) contrast(1) brightness(90%);
    }

    img:hover {
      mix-blend-mode: unset;
      filter: none;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
  }

  .avatar:hover {
    mix-blend-mode: unset;
    filter: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
}

h1[class*='about']::after,
h2[class*='projects']::after {
  content: '';
  border: 1px solid;
  width: 100%;
  display: block;
  height: 1px;
}

h1[class*='about']::after {
  transform: translate(60px, -20px) rotate(180deg) scale(0.5);

  @media (max-width: 30em) {
    transform: translate(100px, -20px) rotate(180deg) scale(0.5);
  }

  @media (max-width: 20em) {
    transform: translate(100px, -20px) rotate(180deg) scale(0.4);
  }

  // @media(max-width: 37.5em) {
  //   transform: translate(100px, -20px) rotate(180deg) scale(.5);
  // }
}

h2[class*='projects']::after {
  transform: translate(85px, -20px) rotate(180deg) scale(0.5);

  @media (min-width: 22em) {
    transform: translate(140px, -20px) rotate(180deg) scale(0.2);
  }

  @media (min-width: 768px) {
    transform: translate(135px, -20px) rotate(180deg) scale(0.5);
  }

  @media (min-width: 992px) {
    transform: translate(215px, -20px) rotate(180deg) scale(0.5);
  }

  @media (min-width: 1200px) {
    transform: translate(40px, -20px) rotate(180deg) scale(0.35);
  }
}
