section.resume-section {
  padding-top: 3rem !important;
  padding-bottom: 2rem !important;


  .resume-item {
    .resume-content {}

    .resume-date {
      min-width: none;
    }
  }
}

footer.resume-section {
  padding: 0 45px;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;

    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 4rem !important;
    padding-bottom: 1rem !important;
  }
}

.white-bg {
  background: $white-200;
}

.card {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 545px;
  width: 100%;
  height: 140px;
  margin: 15px 0;

  @media (min-width: 992px) {
    height: 425px;
  }
}

.numb_one {
  background-image: linear-gradient(#2b5e9908, #2b5e9954), url(https://res.cloudinary.com/dcp4ezo2a/image/upload/v1583163315/imac-portfolio.png);
}

.numb_two {
  background-image: linear-gradient(#2b5e9908, #2b5e9954), url(https://res.cloudinary.com/dcp4ezo2a/image/upload/v1584477222/clean.png);
}

.numb_three {
  background-image: linear-gradient(#2b5e9908, #2b5e9954), url(https://res.cloudinary.com/dcp4ezo2a/image/upload/v1584475622/soundio1.jpg);
}

.numb_four {
  background-image: linear-gradient(#2b5e9908, #2b5e9954), url(https://res.cloudinary.com/dcp4ezo2a/image/upload/v1584475560/huddle1.jpg);
}

ul.social-group {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  padding-left: 25px;

  @media only screen and (min-width: 768px) {
    margin: 0;
    padding: 0;
    float: left;
  }

  li {
    background-color: $white;
    border-radius: 10%;
    display: inline-table;
    margin-right: 30px;

    a svg[role ^='img'] {
      width: 20px;
      height: 40px;
      padding: 0 10px;
      fill: $navy-blue;
      display: block;

      @media only screen and (min-width: 768px) {
        width: 30px;
        height: 50px;

      }
    }
  }
}