// Variables
:root {
    --primary-color: rgba(139, 13, 139, 0.65);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

// Restate Bootstrap Variables


$white: #fff !default;
$white-200: #F9F9F9 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #DFDFDF !default;
$gray-500: #ccd6f6 !default;
$gray-600: #8892B0 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$blue-200: #2B5E99 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #bd5d38 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$lemon: #CBE635 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$green-200: #0e1e24 !default;
$navy-blue: #070713 !default;
// $navy-blue: #0A192F !default;

$primary: $cyan !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// Page Variables

$sidebar-base-width: 19rem;