@font-face {
    font-family: 'Taken by Vultures';
    src: url('../fonts/Taken-by-Vultures-Demo.woff') format('woff'),
        url('../fonts/Taken-by-Vultures-Alternates-Demo.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}